<p id="notice"><%= notice %></p>

<h1>Transportistas</h1>

<%= link_to 'Nuevo Trnasportista', new_carrier_path, class: 'btn btn-primary', role: 'button' %>
<br /><br />

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @carriers.each do |carrier| %>
      <tr>
        <td><%= carrier.name %></td>
        <td><%= carrier.description %></td>
        <td>
          <%= link_to 'Show', carrier %>
          <%= link_to 'Edit', edit_carrier_path(carrier) %>
          <%= link_to 'Destroy', carrier, method: :delete, data: { confirm: 'Are you sure?' } %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


