<%= form_with(model: shipmentimport, local: true) do |form| %>


  <% if shipmentimport.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shipmentimport.errors.count, "error") %> prohibited this shipmentimport from being saved:</h2>

      <ul>
        <% shipmentimport.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container mt-5">
    <h1 class="text-center">Importar Guias Json</h1>
    <div class="col-sm-12 col-lg-4 mr-auto ml-auto border p-4">
      <form method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label><strong>Subir Archivo</strong></label>
          <div class="custom-file">
            <%= form.file_field :jsonfile, class: 'custom-file-input', id: 'customFile', required: 'required' %>

            <label class="custom-file-label" for="customFile">Seleccione Archivo</label>
          </div>
        </div>
        <div class="form-group">
          <%= form.submit ' Importar', class: 'btn btn-block btn-dark' %>
        </div>
      </form>
    </div>
  </div>

<% end %>