<p id="notice"><%= notice %></p>

<h1>Listado de envios importados</h1>

<%= link_to 'Nueva importación', new_shipmentimport_path, class: 'btn btn-primary', role: 'button' %>
<br /><br />
<table class="table">
  <thead>
    <tr>
      <th>Envios</th>
      <th>Usuario</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @shipmentimports.each do |shipmentimport| %>
      <tr>
        <td><%= shipmentimport.shipments %></td>
        <td><%= shipmentimport.user_id %></td>
        <td>
          <%= link_to '<i class="fas fa-glasses fa-lg"></i>'.html_safe, shipmentimport, class: 'btn btn-secondary' %>
          <%= link_to '<i class="fas fa-edit fa-lg"></i>'.html_safe, edit_shipmentimport_path(shipmentimport), class: 'btn btn-success' %>
          <%= link_to '<i class="fas fa-trash fa-lg"></i>'.html_safe, shipmentimport, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


