<p id="notice"><%= notice %></p>

<h1>Listado de envios importados</h1>

<%= link_to 'Nueva importación', new_shipmentimport_path, class: 'btn btn-primary', role: 'button' %>
<br /><br />
<table class="table">
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Guias Importadas</th>
      <th>Guias Ignoradas</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @shipmentimports.each do |shipmentimport| %>
      <tr>
        <td><%= shipmentimport.user.email %></td>
        <td><%= shipmentimport.shipments %></td>
        <td><%= shipmentimport.reject %></td>
        <td><%= shipmentimport.created_at.strftime('%d-%m-%Y') %></td>
        <td><%= shipmentimport.created_at.strftime('%H:%M') %></td>
        <td>
          <%= link_to '<i class="fas fa-glasses fa-lg"></i>'.html_safe, shipmentimport, class: 'btn btn-secondary' %>
          <%= link_to '<i class="fas fa-trash fa-lg"></i>'.html_safe, shipmentimport, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


