<%= form_with(model: shipment, local: true) do |form| %>
  <% if shipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shipment.errors.count, "error") %> prohibited this shipment from being saved:</h2>

      <ul>
        <% shipment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :carrier_id %>
    <%= form.text_field :carrier_id %>
  </div>

  <div class="field">
    <%= form.label :tracking_number %>
    <%= form.text_field :tracking_number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
