<%= form_with(model: shipment, local: true) do |form| %>
  <% if shipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shipment.errors.count, "error") %> prohibited this shipment from being saved:</h2>

      <ul>
        <% shipment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tracking_number, 'Número de guia' %>
    <input type="text" value="<%= @shipment.tracking_number %>" readonly class="form-control col-md-2">
    <%= form.hidden_field :tracking_number %>
  </div>


  <div>
    <label>Transportista</label> <br />
    <%= form.collection_select :carrier_id, @carriers.order(:name),:id,:name,{ include_blank: true}, { class: 'form-control col-md-2', required: true} %>

  </div>

  <div>

    <%= form.fields_for :parcel do |parcel_form| %>
      <div class="field">
        <%= parcel_form.label :length, 'Longitud' %>
        <%= parcel_form.number_field :length, class: 'form-control col-md-2', step: :any, :required => true %>
      </div>

      <div class="field">
        <%= parcel_form.label :width, 'Ancho' %>
        <%= parcel_form.number_field :width, class: 'form-control col-md-2', step: :any, :required => true %>
      </div>

      <div class="field">
        <%= parcel_form.label :height, 'Alto' %>
        <%= parcel_form.number_field :height, class: 'form-control col-md-2', step: :any, :required => true %>
      </div>

      <div class="field">
        <%= parcel_form.label :weight, 'Peso' %>
        <%= parcel_form.number_field :weight, class: 'form-control col-md-2', step: :any, :required => true %>
      </div>

      <div class="field">
        <%= parcel_form.label :distance_unit, 'Unidad de distancia' %>
        <input type="text" value="CM" readonly class="form-control col-md-2">
        <%= parcel_form.hidden_field :distance_unit, class: 'form-control col-md-2', value: 'CM' %>
      </div>

      <div class="field">
        <%= parcel_form.label :mass_unit, 'Unidad de masa' %>
        <input type="text" value="KG" readonly class="form-control col-md-2">
        <%= parcel_form.hidden_field :mass_unit, class: 'form-control col-md-2', value: 'KG' %>
      </div>
    <% end %>

  </div>

  <div class="">
    <br />
    <br />
    <%= link_to 'Regresar', shipments_path, class: 'btn btn-secondary' %> <%= form.submit 'Generar envio', class: 'btn btn-primary' %>

  </div>
<% end %>
