<p id="notice"><%= notice %></p>

<h1>Envios</h1>

<%= link_to 'Nuevo Envio', new_shipment_path, class: 'btn btn-primary', role: 'button' %> <br />
<br /><br />

<table class="table">
  <thead>
    <tr>
      <th>Transportista</th>
      <th>Número de rastreo</th>
      <th>Fecha</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @shipments.each do |shipment| %>
      <tr>
        <td><%= shipment.carrier.name %></td>
        <td><%= shipment.tracking_number %></td>
        <td><%= shipment.created_at %></td>
        <td>
          <%= link_to 'Mostrar', shipment %>
          <%= link_to 'Editar', edit_shipment_path(shipment) %>

          <%= link_to 'Eliminar', shipment, method: :delete, data: { confirm: 'Estas seguro?' } %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

