<p id="notice"><%= notice %></p>

<h1>Envios</h1>

<%= link_to 'Nuevo Envio', new_shipment_path, class: 'btn btn-primary', role: 'button' %> <br />
<br /><br />

<table class="table">
  <thead>
    <tr>
      <th>Transportista</th>
      <th>Número de rastreo</th>
      <th>Fecha</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @shipments.each do |shipment| %>
      <tr>
        <td><%= shipment.carrier.name %></td>
        <td><%= shipment.tracking_number %></td>
        <td><%= shipment.created_at %></td>
        <td>
          <%= link_to '<i class="fas fa-glasses fa-lg"></i>'.html_safe, shipment, class: 'btn btn-secondary' %>
          <%= link_to '<i class="fas fa-edit fa-lg"></i>'.html_safe, edit_shipment_path(shipment), class: 'btn btn-success' %>
          <%= link_to '<i class="fas fa-trash fa-lg"></i>'.html_safe, shipment, method: :delete, data: { confirm: 'Estas seguro?' }, class: 'btn btn-danger' %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

