<p id="notice"><%= notice %></p>

<div class="card text-center">
  <div class="card-header">
    Envío generado por: <%= @shipment.user.email %>
  </div>
  <div class="card-body">
    <h5 class="card-title">Guia  <b><%= @shipment.tracking_number %></b></h5>
    <p class="card-text">Transportista: <b><%= @shipment.carrier.name %></b> </p>

    <div class="row col-12 justify-content-md-center">

    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Longitud:
        <span class="badge badge-primary badge-pill"><%= @shipment.parcel.length %></span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Ancho:
        <span class="badge badge-primary badge-pill"><%= @shipment.parcel.width %></span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Alto:
        <span class="badge badge-primary badge-pill"><%= @shipment.parcel.height %></span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Peso:
        <span class="badge badge-primary badge-pill"><%= @shipment.parcel.weight %></span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Peso Total:
        <span class="badge badge-primary badge-pill"><%= @shipment.parcel.volumenweight %></span>
      </li>

      <li class="list-group-item d-flex justify-content-between align-items-center">
        Fedex base:
        <span class="badge badge-primary badge-pill"><%= @shipment.total_base_charge %></span>
      </li>

      <li class="list-group-item d-flex justify-content-between align-items-center">
        Peso extra:
        <span class="badge badge-primary badge-pill"><%= @shipment.total_surcharges %></span>
      </li>

      <li class="list-group-item d-flex justify-content-between align-items-center">
        Peso Total Fedex:
        <span class="badge badge-primary badge-pill"><%= @shipment.total_net_charge %></span>
      </li>
    </ul>
    </div>

    <br />
    <br />
    <%= link_to 'Regresar', shipments_path, class: 'btn btn-secondary' %>  <%= link_to '<i class="fas fa-trash fa-lg"></i>'.html_safe, @shipment, method: :delete, data: { confirm: 'Estas seguro?' }, class: 'btn btn-danger' unless @shipment.total_base_charge != 0.0 %>

  </div>
  <div class="card-footer text-muted">
    Envío creado hace <%= time_ago_in_words(@shipment.created_at) %>
  </div>
</div>

