<p id="notice"><%= notice %></p>

<p>
  <strong>Carrier:</strong>
  <%= @shipment.carrier_id %>
</p>

<p>
  <strong>Tracking number:</strong>
  <%= @shipment.tracking_number %>
</p>

<%= link_to 'Regresar', shipments_path, class: 'btn btn-secondary' %>  <%= link_to '<i class="fas fa-edit fa-lg"></i>'.html_safe, edit_shipment_path(@shipment), class: 'btn btn-success' %>
